<%= form_with(model:[@group, @group_post]) do |f| %>
    <div class="form-group">
    <%= f.label :body %>
    <br>
    <%= f.text_field :body, class:"form-control" %>
    <br>
    </div>
    <%= f.submit "Post", class:"ui primary button" %>
<% end %>