<div class="container d-flex flex-wrap">

<% @groups.each do |group| %>
<div class="card m-2  d-flex justify-content-around align-items-center shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
    <img class="card-img-top p-2" src="https://picsum.photos/200" alt="Card image cap" style="height: 20rem; object-fit: cover;">
      <h3 class="card-title fw-bold text-reset p-2" ><%= link_to group.title, group_path(group), style:"text-decoration: none; color: black" %></h3>
         <a class="ui button text-uppercase p-3" href="<%= group_path(group) %>">Enter</a>
    </div>
<% end %>


        </div>
