<div class="container">
    <div class="row">
        <div class="col-8 col-md-8 col-sm-6">
           <%# left starts %>
           <%# left starts %>
           <%# left starts %>
           <%# left starts %>
           <%# left starts %>

        <div class="container card">
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>

        
        
        
        </div>






            <%# left ends %>
            <%# left ends %>
            <%# left ends %>
            <%# left ends %>
            <%# left ends %>
        </div>
        <div class="col-4 col-md-4 col-sm-6">
           <%# right starts %>
           <%# right starts %>
           <%# right starts %>
           <%# right starts %>
           <%# right starts %>

        <div class="container card">
             <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
                <p> abc</p>
        
        
        </div>





            <%# right ends %>
            <%# right ends %>
            <%# right ends %>
            <%# right ends %>
            <%# right ends %>
        </div>
    </div>
</div>